@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('./assets/images/hero-bg.jpg');
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: justify;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
}
.form 
{
    border: 2px solid rgb(214, 213, 213);
    background: linear-gradient(to bottom right, rgba(68, 80, 189, 0.744), #31159b,blue );
    z-index: 1;
    padding: 16px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(14, 0, 0, 0.2);
    border-radius: 50px 50px 50px 50px;
}


.formn
{
    border: 2px solid rgb(253, 253, 253);
    z-index: 0;
    padding: 16px;
    background-color: aliceblue;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: transform 0.3s ease;
}
.btn ,span
{
    margin-top: 20px;
}
p{
    margin-top: 40px;
}
#submit-btn
{
    margin-top: 20px;
}
.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%,rgba(117, 126, 209, 0.975));
    position: sticky;
  }
  
  .circle.one {
    margin-right: -400px;
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    margin-right: -350px;
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }